/* CurrentWeather Component styles */

.current--weather {
    background: #1E213A;
    height: 100vh;
    padding-top: 20px;
}

.asyncpaginate {
    width: 70%;
}

.search {
    color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

button {
    background-color: #FFF;
    border: transparent;
    width: 38px;
    height: 38px;
    border-radius: 5px !important;
}
.location--icon {
    color: #6E707A;
    font-size: 22px;
    text-align: center;
}

.weather--details {
    background: #100E1D;
}

.current--weather--icon {
    height: 180px;
    width: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.today {
    color: #A09FB1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp--data {
    font-size: 28px;
    
}

.temp--data span {
    color: #FFF;
    font-weight: 500;
    font-size: 120px;
}

.weather--description {
    font-size: 28px;
}

.date {
    font-size: 12px;
}

.location {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 22px;  
}

.location--icon2 {
    font-size: 20px;
    margin-right: 5px;
}

@media only screen and (min-width: 768px) {
    .current--weather--icon {
        width: 250px;
        height: 200px;
    }
    
}

