.app--container {
    display: grid;
    overflow-y: hidden;
    position: relative;
}

.weather--details {
    background: #100E1D;
}



@media only screen and (min-width: 1024px) {
    .app--container {
        grid-template-columns: 1fr 2fr;
    }
    .weather--details {
        height: 100vh;
    }
    .search--location {
        max-width: 33.33%;
    }
    body {
        overflow-y: hidden;
    }
    
}