/* CurrentWeather Component styles */
.current--weather {
    background: #1E213A;
    height: 100vh;
    margin-top: 80px;
    padding-top: 20px;
}

.current--weather--icon {
    height: 180px;
    width: 150px;
    border: 1px solid black;
    margin: 0 auto;
}

.today {
    color: #A09FB1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp--data {
    font-size: 28px;
    
}

.temp--data span {
    color: #FFF;
    font-weight: 500;
    font-size: 120px;
}

.weather--description {
    font-size: 28px;
}

.date {
    font-size: 12px;
}

.location {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 22px;  
}

.location--icon2 {
    font-size: 20px;
    margin-right: 5px;
}

@media only screen and (min-width: 768px) {
    .current--weather--icon {
        width: 250px;
        height: 200px;
    }
    
}