@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Raleway";
}

body {
    background-image: linear-gradient(to right, #100E1D , #1E213A);
}

