.places {
    background: #1E213A;
    height: 100vh;
    margin-top: 80px;
    color: #E7E7EB;
    position: relative;
}
ul {
    width: 90%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    font-size: 16px;
    line-height: 20px;
    

}

li:hover {
    border: 1px solid #616475;
}

.mdclear {
    position: relative;
    top: 80%;
    right: 20px;
    font-size: 20px;
}